name: Sync toGitee

on: 
  push: 
    branches: [master]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Debug Token
        run: |
          echo "Token lenth: ${#GITEE_TOKEN}"
          echo "Token preview:${GITEE_TOKEN:0.5}..."
        env:
          GITEE_TOKEN: ${{ secrets.GITEE_TOKEN }}
